<div class="top-bar">
    <div class="top-bar__wrapper"><span class="top-bar__phone">{{- section.settings.phone_num -}}</span></div>
</div>

{%- schema -%}
    {
        "name": "Top Bar",

        "settings": [
            {
            "type": "text",
            "id": "phone_num",
            "label": "Phone Number",
            "default": "(03) 9133 0989"
            }
        ]
    }
{% endschema %}