<div class="pure-g" style="padding:16px;">
  <div class="pure-u-1 pure-u-md-1-4 collection_sidebar">
    {% section 'collection-sidebar' %}
  </div>
  <div class="pure-u-1 pure-u-md-3-4 collection_template" style="padding-left:32px;padding-right:32px;">
    {% section 'collection-template' %}
  </div>
</div>

