
.header__body{
  display: flex;
}

.header-search{
  text-align: center;
  padding-top: 4px;
}

.header__logo a{
  display: flex;
  align-items: center;
}

.header__logo span{
  padding-left:12px;
  padding-top:8px;
  font-weight: 700;
  color:#fff;
  font-size: 42px;
  color: #fff;
  font-family: mFont;
}

.header-search__form input{
  border-radius: 0!important;
  color:grey;
  float:right;
  height: 45px;
  width: 80%;
}
.header-search__form button{
  background: #F6B800;
  float:right;
}
.site-nav__wrap{
  position: relative;
}
.site-nav{
  position:static!important;
}
.site-nav__item{
  font-family: mFont;
  font-size:16px;
  line-height:24px;
  position:static!important;
}

.site-sub-nav{
  position:fixed;
  top:188px;
  left:0;
  right:0;
  display: none;
  z-index: 9999;

}

.site-sub-nav ul:after{
  content: "" !important;
  display: block !important;
  clear: both !important;
}
.site-sub-nav ul{
  background: #fff;
  display: block;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  border-bottom: 3px #e1721c solid;
  padding-top:10px;
  padding-bottom: 10px;
}
.site-sub-nav .site-sub-nav__item{
  float:left;
  padding-left: 10px;
}

.site-sub-nav .site-sub-nav__link{
  font-size: 14px;
  color: #333;
  line-height: 30px;
}

.site-sub-nav .site-sub-nav__item:hover{
  background: #eaeaea;
}
.site-sub-nav__link:hover{
  text-decoration: none;
}

.site-nav__item:hover .site-nav__link{
  color:#e1721c;
  background: #fff;
  text-decoration: none;
}
.site-nav__item:hover > .site-sub-nav{
  display: block;

}

.header-bottom-image{
  display: block;
}
.header-bottom-image__mobile{
  display: none;
}
@media (max-width: 47.999em) {

  .site-nav__item{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    font-weight: normal;
  }
  .header-bottom-image{
    display: none;
  }
  .header-bottom-image__mobile{
    display: block;
  }
  .header__logo{
    padding-left: 20px;
  }

  .header__logo img{
    width: 40px;
    height: 20px;
  }

  .header__logo span{
    font-size: 22px;

  }

  .header-search{
    order: 3;
  }

  .header__icon-account, .header__icon-bag{
    width: auto;
    height: 22px;
  }

  .header-search__form button{
    margin-top:0!important;
  }

  .header-search__wrapper{
    margin-top:12px;
  }

}