.product-item{
  border: 1px solid #efefef;
  padding: 4px;
  text-align: center;
}

.product-item__title a{
  font-size: 13px;
  font-weight: 500;
  color:#666;
}


.product-item__wrapper .spr-badge-starrating .spr-icon{
  font-size: 72%
}
.product-item__wrapper .spr-badge-caption{
  display: block;
  font-size: 12px;
}